﻿{% extends "app/layout.html" %}

{% block content %}

<h2>Who Am I?</h2>

<form action="" role="form" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-default">Submit</button>
</form>

<p>
	I am: {{userid}}
</p>

{% endblock %}
